/* navbar */
.pip-nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #d3d3d3;
}

.pip-nav > div > a,
.pip-nav > div > span {
  position: relative;
  text-decoration: none;
  padding: 10px;
  font-weight: 500;
  font-size: 20px;
  color: #666;
  text-align: center;
}

.pip-nav > div > button {
  position: relative;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  color: #666;
  text-align: center;
}

.pip-nav > div > img {
  margin-right: 32px;
}

.pip-nav > div > a:hover,
.pip-nav > div > a:focus,
.pip-nav > div > button:focus,
.pip-nav > div > button:hover,
.pip-nav > div > .active {
  color: #000;
}


.pip-nav > div > .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
  color: #eee;
}

.pip-nav__user {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-end;
}

.pip-nav__actions {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 75%;
}

.blog-main {
  font-size: 16px;
  line-height: 1.5;
}

@media (min-width: 1600px) {
  .container {
    width: 1500px;
  }
}

#drop.drop-hover {
  background-color: rgba(102, 102, 102, 0.3);

}

.label {
  font-family: "Georgia", serif;
  font-size: 14px;
  padding: 6px;
  font-weight: normal;
}

.control-label {
  margin-bottom: 10px;
}

.drag-area {
  margin: 8px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid black;
}

.drag-area-default {
  margin: 2px;
}

.drag-area-hover {
  background-color: #555;
  color: white;
}

.drag-area-default > span {
  margin: 0 2px;
  display: block;
  text-align: center;
  font-size: 14px;
}

.drag-area-default > p {
  text-align: center;
  align-self: flex-end;
  margin: 0;
}

#upload{
    font-family:'PT Sans Narrow', sans-serif;
    background-color: #666666;

    background-image:-webkit-linear-gradient(top, #cccccc, #cccccc);
    background-image:-moz-linear-gradient(top, #cccccc, #cccccc);
    background-image:linear-gradient(top, #cccccc, #cccccc);

    width:250px;
    height: 95px;
    padding:2px;
    border-radius:3px;
    margin-left: 10px;

    box-shadow: 0 0 10px rgba(128, 128, 128, 0.3);
}

#drop{
    background-color: #cccccc;
    padding: 4px;
    border: 4px solid rgba(119, 119, 119, 0);
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;

    font-size:16px;
    font-weight:bold;
    color:#7f858a;
}

#drop.drop-hover {
  background-color: rgba(102, 102, 102, 0.3);

}

#drop a{
    background-color: #777777;
    padding:12px 26px;
    color:#fff;
    font-size:14px;
    border-radius:2px;
    cursor:pointer;
    display:inline-block;
    margin-top:12px;
    line-height:1;
}

#drop a:hover{
    background-color: #000000;
}

#drop input{
    display:none;
}
