<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Custom PIP</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap-theme.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='js/bootstrap.js') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="/static/images/ricardo_milos.ico" type="image/x-icon">
</head>
<body style="overflow-y: scroll">

{% block navbar %}
    <div class="pip-nav container">
        <div class="pip-nav__actions">
            <img style="height: 32px; width: 32px;" src="{{ url_for('static', filename='images/Python-logo.svg') }}"/>

            {% block navitems %}
                <a href="/">PIP</a>
            {% endblock %}
        </div>
    </div>
{% endblock %}
    <script src="{{ url_for('static', filename='jquery-2.2.4.js')}}"></script>
<div class="container">
    <div style="margin-top: 20pt">
        {% block content %}
        {% endblock %}
    </div>
</div>
</body>