{% extends "bootstrap/base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PIP DOWNLOAD</title>
</head>

{% block content %}
    <h1>Скачать пакеты для python с зависимостями</h1>
    <div class="form-group" style="margin: 8px; width: 20%">
        <label for class="text">Введите название пакета</label>
        <input id="package" class="form-control" type="text">
    </div>
    <div class="form-group" style="margin: 8px; width: 20%">
        <label for class="text">Введите дополнительные опции</label>
        <input id="options" class="form-control" type="text">
    </div>
    <div style="margin: 8px">
        <button id="downloadButton" class="btn btn-primary" onclick="submit()">Скачать</button>
    </div>
    <div style="margin: 8px">
        <p style="color: orangered">По дефолту пакеты качаются none-any.whl либо python 3.7 linux_x86_64</p>

        <p>Пример дополнительный опций (больше примеров <a target="_blank" rel="noopener noreferrer"
                                                           href="https://pip.pypa.io/en/stable/reference/pip_download/">тут</a>):
        </p>
        <em style="color: blue">linux</em>
        <p>--only-binary=:all:
            --platform linux_x86_64
            --python-version 3
            --implementation cp
            --abi cp34m
        </p>
        <em style="color: blue">macosx</em>
        <p>--only-binary=:all:
            --platform macosx-10_10_x86_64
            --python-version 27
            --implementation cp
        </p>
        <em style="color: blue">any</em>
        <p>--only-binary=:all:
            --platform any
            --python-version 3
            --implementation py
            --abi none
        </p>
        <em style="color: blue">windows</em>
        <p>--only-binary=:all:
            --platform win_amd64
            --python-version 3
            --implementation py
            --abi none
        </p>
        <p style="color: red"><b>-r, --requirement &lt;file&gt; - в разработке</b></p>

    </div>
{% endblock %}
{% block scripts %}
    <script src='/static/jquery-2.2.4.js'></script>
    <script src='/static/js/FileSaver.js'></script>
    <script src='/static/js/jszip.js'></script>
    <script>
        function submit() {
            $("#downloadButton").text('Идет загрузка').attr("disabled", true);
            $("#downloadButton").removeClass('btn-primary');
            $("#downloadButton").addClass('btn-warning');
            $.ajax({
                type: 'POST',
                url: '/get_dependencies?package=' + $("#package").val() + '&options=' + $("#options").val(),
                success: function (data) {

                    let zip = new JSZip();
                    zip.file("dependencies.zip", data, {base64: true});
                    zip.generateAsync({type: "blob"})
                        .then(function (content) {
                            saveAs(content, "archive_with_dependencies.zip");
                        });
                    setTimeout(function () {
                        $("#downloadButton").text('Скачать').attr("disabled", false);
                        $("#downloadButton").removeClass('btn-warning');
                        $("#downloadButton").addClass('btn-primary');
                    }, 1000);

                },
                error: function () {
                    setTimeout(function () {
                        $("#downloadButton").text('Скачать').attr("disabled", false);
                        $("#downloadButton").removeClass('btn-warning');
                        $("#downloadButton").addClass('btn-primary');
                    }, 1000);
                    alert("Что-то пошло не так!");
                }
            });
        }
    </script>
{% endblock %}
</html>